<h2>Por Pais</h2>
<hr>

<div class="row">
  <div class="col">
    <app-input-search (onEnter)="buscar($event)" (onDebounce)="sugerencias($event)" [placeHolder]="'Buscar por País'">
    </app-input-search>
  </div>
</div>

<ul *ngIf="mostrarSugerencias" class="list-group">
  <li *ngFor="let sugerencia of paiseSugerido" class="list-group-item list-group-item-action">
    <a class="nav-link" [routerLink]="['/pais', sugerencia.alpha2Code]">
      {{sugerencia.name}}
    </a>
  </li>
  <li class="list-group-item list-group-item-action" (click)="buscarSugerido(termino)">
    <a class="nav-link">
      Buscar por "{{termino}}"
    </a>
  </li>
</ul>

<hr>

<app-loading [loading]="loading"></app-loading>

<div class="alert alert-danger" *ngIf="error">
  No se encontró información con el término <strong>{{termino}}</strong>
</div>

<div *ngIf="paises.length > 0" class="row">
  <div class="col">
    <app-paises-table [paises]="paises"></app-paises-table>
  </div>
</div>